<div class="fixed inset-0 z-50 flex items-center justify-center p-4" role="dialog" aria-modal="true">
  <!-- Backdrop -->
  <div class="fixed inset-0 bg-black/80 backdrop-blur-sm" (click)="closeLightbox()"></div>

  <!-- Content -->
  @if(currentMedia(); as media) {
    <div class="relative w-full h-full flex items-center justify-center">
      <!-- Main Media Display -->
       @switch (media.icon) {
        @case ('image') {
          <img [src]="media.contentUrl" [alt]="media.name" class="max-w-[90vw] max-h-[90vh] object-contain rounded-lg shadow-2xl z-10">
        }
        @case ('video') {
          <video controls autoplay [src]="media.contentUrl" class="max-w-[90vw] max-h-[90vh] object-contain rounded-lg shadow-2xl z-10"></video>
        }
      }

      <!-- Close Button -->
      <button (click)="closeLightbox()" class="absolute top-0 right-0 m-4 p-2 bg-black/30 rounded-full text-white hover:bg-black/60 z-20">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      </button>

      <!-- Prev/Next Controls -->
      @if (playlist.length > 1) {
        <button (click)="prev()" class="absolute left-0 ml-4 p-3 bg-black/30 rounded-full text-white hover:bg-black/60 z-20">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>
        </button>
        <button (click)="next()" class="absolute right-0 mr-4 p-3 bg-black/30 rounded-full text-white hover:bg-black/60 z-20">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>
        </button>
      }

       <!-- Counter and Title -->
      <div class="absolute bottom-0 mb-4 px-4 py-2 bg-black/50 text-white rounded-full text-sm font-medium z-20">
        {{ media.name }} ({{ currentIndex() + 1 }} / {{ playlist.length }})
      </div>
    </div>
  }
</div>
